@model Tourism.DataAccess.Models.Package

@{
    ViewData["Title"] = "Create Package";
}

<h2>Create New Package</h2>
<hr />

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AvailableSeats"></label>
        <input asp-for="AvailableSeats" class="form-control" />
        <span asp-validation-for="AvailableSeats" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl">Package Image URL</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-2">Create</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Back to List</a>
</form>
